<%- include('../Partials/Header.ejs') -%>
    <div class="ms-300 mt-80">
        <div class="bg-dark p-4 rounded-4 m-4">
            <h2 class="text-light">Dashboard</h2>
        </div>
    </div>
    <%- include('../Partials/Footer.ejs') -%>